@charset "UTF-8";
@font-face {
 font-family: HACKED;
 src: url(../fonts/HACKED_Title.ttf);
}

* {
 /*outline: solid 1px pink;*/
}

body {
 padding-bottom: 40px;
 background-color: #eee;
}

.form-signin {
 max-width: 330px;
 padding: 15px;
 margin: 0 auto;
}

.form-signin .form-signin-heading, .form-signin .checkbox {
 margin-bottom: 10px;
}

.form-signin .checkbox {
 font-weight: normal;
}

.form-signin .form-control {
 position: relative;
 height: auto;
 -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
 box-sizing: border-box;
 padding: 10px;
 font-size: 16px;
}

.form-signin .form-control:focus {
 z-index: 2;
}

.form-signin input[type="email"] {
 margin-bottom: -1px;
 border-bottom-right-radius: 0;
 border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
 margin-bottom: 10px;
 border-top-left-radius: 0;
 border-top-right-radius: 0;
}

textarea {
 resize: none;
 overflow: visible;
}

#messageBox {
 max-height: 150pt;
 overflow-y: scroll;
 padding-bottom: 20pt;
}

.sender, .receiver {
 padding: 5pt;
 margin: 10pt;
}

.sender {
 background-color: lightgreen;
 position: relative;
 border-radius: 5pt 5pt 0 5pt;
 text-align: right;
}

.sender:after {
 content: ' ';
 position: absolute;
 width: 0;
 height: 0;
 left: auto;
 right: 0px;
 bottom: -10px;
 border: 5px solid;
 border-color: lightgreen lightgreen transparent transparent;
}

.receiver {
 background-color: white;
 position: relative;
 border-radius: 5pt 5pt 5pt 0;
}

.receiver:after {
 content: ' ';
 position: absolute;
 width: 0;
 height: 0;
 left: 0px;
 right: auto;
 bottom: -10px;
 border: 5px solid;
 border-color: white transparent transparent white;
}

#alert_box{
  position: relative;
  width: 100%;
  z-index: 1000;
}

#alert_box > .alert {
  position: absolute;
  right: 0;
}

h1 a{
 padding-left: 10pt;
 font-family: HACKED, cursive;
 font-size: 38px!important;
 letter-spacing: 1.5px;
}

#logo{
 font-family: HACKED, cursive;
 font-size: 30px!important;
}

.userFG {
  position: absolute;
}

.imgCont {
  position: relative;
  display: inline-block;
}

#mainNav li:hover {
  cursor: pointer;
}

#content a:hover {
  cursor: pointer;
}

#memSrcBut {
  width: 100pt;
  margin-top: 10pt;
}

#tblHeaders {
  font-weight: bold;
}

footer p {
  text-align: center;
}
